.nodo {
    width: 50px;
    height: 50px;
    background-color:#4284F3;
}

.diagonal_1 {
    position: absolute;
    padding-left: 25px;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}

*:focus {
    outline: none;
}

.input {
    background-color: #4284F3;
    border: none;
    border-radius: 20%;
    font-size: 15px;
    font-weight: bold;
    text-align: center; 
    width: 100%;
}