<div class="row">
  <div class="col-md-8" style="background-color:#CCE5FF;">
    <table>
      <thead>
        <tr>
          <th class="text-center">-</th>
          <th class="text-center">-</th>
          <th class="text-center">-</th>
          <th class="text-center">-</th>
          <th class="text-center">-</th>
          <th class="text-center">A</th>
          <th class="text-center">R</th>
          <th class="text-center">B</th>
          <th class="text-center">O</th>
          <th class="text-center">L</th>
          <th class="text-center">-</th>
          <th class="text-center">-</th>
          <th class="text-center">-</th>
          <th class="text-center">-</th>
          <th class="text-center">-</th>
          <th class="text-center">-</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo">
            <input type="text" class="input" [(ngModel)]="tree_first.value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
        </tr>

        <tr>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th>
            <img src="assets/img/flecha_1.svg" alt="100%">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th>
            <img src="assets/img/flecha_2.svg" alt="100%">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
        </tr>

        <tr>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo text-center">
            <input type="text" class="input" [(ngModel)]="tree_first.left[0].value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo text-center">
            <input type="text" class="input" [(ngModel)]="tree_first.right[0].value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
        </tr>

        <tr>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th>
            <img src="assets/img/flecha_1.svg" alt="100%">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th>
            <img src="assets/img/flecha_1.svg" alt="100%">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th>
            <img src="assets/img/flecha_2.svg" alt="100%">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
        </tr>

        <tr>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo text-center">
            <input type="text" class="input" [(ngModel)]="tree_first.left[0].left[0].value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo text-center">
            <input type="text" class="input" [(ngModel)]="tree_first.right[0].left[0].value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo text-center">
            <input type="text" class="input" [(ngModel)]="tree_first.right[0].right[0].value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
        </tr>

        <tr>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th>
            <img src="assets/img/flecha_1.svg" alt="100%">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th>
            <img src="assets/img/flecha_2.svg" alt="100%">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th>
            <img src="assets/img/flecha_1.svg" alt="100%">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th>
            <img src="assets/img/flecha_2.svg" alt="100%">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
        </tr>

        <tr>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo text-center">
            <input type="text" class="input" [(ngModel)]="tree_first.left[0].left[0].left[0].value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo text-center">
            <input type="text" class="input" [(ngModel)]="tree_first.left[0].left[0].right[0].value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo text-center">
            <input type="text" class="input" [(ngModel)]="tree_first.right[0].left[0].left[0].value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo text-center">
            <input type="text" class="input" [(ngModel)]="tree_first.right[0].right[0].right[0].value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo invisible"></th>
        </tr>

        <tr>
          <th>
            <img src="assets/img/flecha_1.svg" alt="100%">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th>
            <img src="assets/img/flecha_2.svg" alt="100%">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th>
            <img src="assets/img/flecha_1.svg" alt="100%">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th>
            <img src="assets/img/flecha_2.svg" alt="100%">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th>
            <img src="assets/img/flecha_1.svg" alt="100%">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th>
            <img src="assets/img/flecha_2.svg" alt="100%">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th>
            <img src="assets/img/flecha_1.svg" alt="100%">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th>
            <img src="assets/img/flecha_2.svg" alt="100%">
          </th>
          <th class="rounded-circle nodo invisible"></th>
        </tr>

        <tr>
          <th class="rounded-circle nodo text-center">
            <input type="text" class="input" [(ngModel)]="tree_first.left[0].left[0].left[0].left[0].value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo text-center">
            <input type="text" class="input" [(ngModel)]="tree_first.left[0].left[0].left[0].right[0].value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo text-center">
            <input type="text" class="input" [(ngModel)]="tree_first.left[0].left[0].right[0].left[0].value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo text-center">
            <input type="text" class="input" [(ngModel)]="tree_first.left[0].left[0].right[0].right[0].value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo text-center">
            <input type="text" class="input" [(ngModel)]="tree_first.right[0].left[0].left[0].left[0].value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo text-center">
            <input type="text" class="input" [(ngModel)]="tree_first.right[0].left[0].left[0].right[0].value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo text-center">
            <input type="text" class="input" [(ngModel)]="tree_first.right[0].right[0].right[0].left[0].value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
          <th class="rounded-circle nodo text-center">
            <input type="text" class="input" [(ngModel)]="tree_first.right[0].right[0].right[0].right[0].value">
          </th>
          <th class="rounded-circle nodo invisible"></th>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="col-md-4" style="background-color: #FFF2CD;">

    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="searchForm" (ngSubmit)="searchNumberInTree()">
          <div class="form-group">
            <label>Ingrese un numero</label>
            <input type="number" class="form-control" formControlName="numberSearch"
              [ngClass]="{'is-invalid':validateControl('numberSearch')}">

            <div *ngIf="validateControl('numberSearch')" class="invalid-feedback">
              <div *ngIf="formControls('numberSearch').errors.required">Este campo es requerido</div>
            </div>

            <small class="form-text text-muted">Se utilizara el metodo LIFO para la busquedad</small>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!(searchForm.valid)">Buscar</button>
        </form>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-primary" role="alert" *ngIf="showMessageInfo">
          El numero {{numberToSearch}} fue encontrado !!!
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="showMessageDanger">
          El recorrido ha terminado y el numero {{numberToSearch}} no fue encontrado :(
        </div>
      </div>
    </div>

    <div class="row" *ngIf="showMessageInfo">
      <div class="col-md-12">
        <label for="">El resultado es el siguiente:</label>
      </div>
      <div class="col-md-12">
        <span *ngFor="let element of travel;" class="badge badge-primary">{{element}}</span>
      </div>
    </div>

    <br>
    <div class="row" *ngIf="finishTravel">
      <div class="col-md-12">
        <label for="">El recorrido total fue el siguiente:</label>
      </div>
      <div class="col-md-12">
        <span *ngFor="let item of travelFull;" class="badge badge-danger">{{item}}</span>
      </div>
    </div>

  </div>
</div>